@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");
body {
    background-color: #2b2a2ae5;
    font-family: "Josefin Sans", sans-serif;
}

#main {
    font-size: xx-large;
    text-align: center;
    color: orange;
}

#yarn {
    text-align: center;
    height: 75vh;
    width: 100%;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2b2a2a;
}

ul.nav li {
    float: right;
}

ul.nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: orange;
    transition: width 3s ease-out;
}

ul.nav a:hover {
    transition: 0.5s;
    background-color: white;
    font-size: x-large;
    width: 100px;
}

.profile {
    text-align: center;
}

.profile img {
    border-radius: 200px;
    border: solid gold 20px;
    animation: glow 10s infinite;
    box-shadow: 10px 10px 10px 10px white;
}

.details {
    background-color: transparent;
    width: auto;
    height: 50vh;
    font-size: xx-large;
    color: silver;
    font-style: bold;
}

.login {
    margin:auto;
    margin-top: 15%;
    text-align: center;
    width: 50vh;
    height: auto;
    padding: 100px;
    padding-top: 50px;
    border-radius: 10px;
    background-color: #2b2a2a;
    box-shadow: 5px gold;
    animation: glow 10s infinite;
}

.login label {
    float: left;
    font-size: large;
    color: orange;
}

.login h1 {
    color: orange;
}

.login form {
    justify-content: center;
}

.login input {
    width: 200px;
    height: 15px;
    float: right;
    border: red 2px;
}

.login a {
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.login input:hover {
    border: red solid 1px;
}

.login a:hover {
    font-size: x-large;
    color: orange;
}

#submit {
    background-color: orange;
    border: 2px;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    transition: width 0.5s;
}

#submit:hover {
    background-color: white;
    color: black;
    width: 150px;
}

.register {
    margin: auto;
    margin-top:15%;
    text-align: center;
    width: 50vh;
    padding: 100px;
    padding-top: 50px;
    background-color: #2b2a2a;
    border-radius: 10px;
    animation: glow 10s infinite;
}

@keyframes glow {
    25% {
        box-shadow: 10px 10px white;
    }
    50% {
        box-shadow: 10px 10px silver;
    }
    75% {
        box-shadow: 10px 10px grey;
    }
}

.register label {
    float: left;
    font-size: large;
    color: orange;
}

.register form {
    justify-content: center;
}

.register h1 {
    color: orange;
}

.register input {
    width: 200px;
    height: 15px;
    float: right;
}

.register a {
    text-decoration: none;
    transition: 2s;
}

.register input:hover {
    border: green solid 1px;
}

.register a:hover {
    font-size: x-large;
    color: tomato;
}

.register p {
    color: orange;
}

#reg {
    float: center;
    background-color: white;
    border: 2px red;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    transition: 0.5s;
}

#reg:hover {
    background-color: orange;
    font-size: large;
    height: 50px;
    color: white;
    width: 150px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    height: 40px;
    text-align: center;
}

th {
    height: 40px;
    background-color: #2b2a2a;
    color: orange;
}

td {
    color: white;
}

table,
th,
td {
    border: 1px dashed black;
}

tr:hover {
    height: 50px;
    background-color: orange;
    font-size: large;
}

ul.updates {
    color: white;
    list-style-type: none;
}

ul.updates h1 {
    font-style: bold;
}

ul.updates li {
    border-bottom: solid 1px white;
}
.order {
    margin: auto;
    width: 50%;
    padding: 10px;
    background-color: #2b2a2a;
    color: orange;
}

.order h1 {
    text-align: center;
}

.order form {
    margin: auto;
    text-align: center;
    width: 50%;
}

#po {
    background-color: white;
    border: 2px red;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    transition: width 1s;
}

#po:hover {
    color: white;
    font-size: large;
    background-color: orange;
    width: 150px;
}

.uorder {
    margin: auto;
    color: orange;
}