<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0" />
    <title>Document</title>
    <link href="{{url_for('static',filename='main.css')}}" rel="stylesheet" />
</head>


<body>
    <ul class="nav">
    <li><a href="{{url_for('updates')}}">Updates</a></li>
    <li><a href="{{url_for('home')}}">Home</a></li>
    <li><a href="{{url_for('order')}}">Order</a></li>
    <li><a href="{{url_for('profile')}}">Profile</a></li>
</ul><br><br>
    <table>
        <tr>
            <th>Count</th>
            <th>Brand</th>
            <th>Price</th>
        </tr>
        <tr>
            <td>2/20</td>
            <td>SSM</td>
            <td>1000</td>
        </tr>
        <tr>
            <td>2/20</td>
            <td>SSM</td>
            <td>1000</td>
        </tr>
    </table>
</body>

</html>