<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0" />
    <title>Document</title>
    <link href="{{ url_for('static', filename = 'main.css') }}" rel="stylesheet" />
</head>

<body>
    <ul class="nav">
        <li><a href="{{url_for('pricing')}}">Pricing</a></li>
        <li><a href="{{url_for('order')}}">Order</a></li>
        <li><a href="{{url_for('profile')}}">Profile</a></li>
        <li><a href="{{url_for('home')}}">Home</a></li>
    </ul>
    <ul class="updates">
        {% for i in posts %}
        <li>
            <h1>{{i.date}}</h1>
            <p>{{i.content}}</p>
        </li>
        {% endfor %}
    </ul>
</body>

</html>